<!--<div class="title">-->
<!--  <span>Cartas</span>-->
<!--</div>-->

<!--{{totalCount}}-->

<!--<div class="grid__wrapper">-->
<!--  <igx-grid #grid1 [data]="data | async" width="100%" height="400px" [isLoading]="isLoading" [pagingMode]="mode">-->
<!--    <igx-paginator-->
<!--      [(page)]="page"-->
<!--      [(perPage)]="perPage"-->
<!--      [totalRecords]="totalCount"-->
<!--      (pagingDone)="paginate($event.current)">-->
<!--    </igx-paginator>-->
<!--    <igx-column field="id"></igx-column>-->
<!--    <igx-column field="name" header="Nome" dataType="string"></igx-column>-->
<!--    <igx-column field="ProductName"></igx-column>-->
<!--    <igx-column field="QuantityPerUnit"></igx-column>-->
<!--    <igx-column field="SupplierName"></igx-column>-->
<!--    <igx-column field="UnitsInStock"></igx-column>-->
<!--    <igx-column field="Rating"></igx-column>-->
<!--  </igx-grid>-->
<!--</div>-->




<!--&lt;!&ndash;<div style="text-align: center;" *ngIf="false">&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;  <igx-grid [data]="cards" height="400px">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <igx-grid #grid1 [data]="data" height="400px" width="100%" style="margin: auto" [allowFiltering]="true">&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;    <igx-paginator [perPage]="10"></igx-paginator>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <igx-paginator #paginator [totalRecords]="20">&ndash;&gt;-->
<!--&lt;!&ndash;      <igx-paginator-content>&ndash;&gt;-->
<!--&lt;!&ndash;        <div id="numberPager" style="justify-content: center;">&ndash;&gt;-->
<!--&lt;!&ndash;          <button [disabled]="paginator.isFirstPage" (click)="paginator.previousPage()" igxButton="flat">&ndash;&gt;-->
<!--&lt;!&ndash;            PREV&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>&ndash;&gt;-->
<!--&lt;!&ndash;               Page {{paginator.page}} of {{paginator.totalPages}}&ndash;&gt;-->
<!--&lt;!&ndash;            </span>&ndash;&gt;-->
<!--&lt;!&ndash;          <button [disabled]="paginator.isLastPage" (click)="paginator.nextPage()" igxButton="flat">&ndash;&gt;-->
<!--&lt;!&ndash;            NEXT&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </igx-paginator-content>&ndash;&gt;-->
<!--&lt;!&ndash;    </igx-paginator>&ndash;&gt;-->

<!--&lt;!&ndash;    <igx-column field="id" header="Id" dataType="string"></igx-column>&ndash;&gt;-->
<!--&lt;!&ndash;    <igx-column field="name" header="Nome" dataType="string"></igx-column>&ndash;&gt;-->
<!--&lt;!&ndash;    <igx-column field="supertype" header="Supertipo" dataType="string"></igx-column>&ndash;&gt;-->
<!--&lt;!&ndash;    <igx-column field="level" header="Nível" dataType="string"></igx-column>&ndash;&gt;-->
<!--&lt;!&ndash;    <igx-column field="hp" header="Pontos de Vida" dataType="string"></igx-column>&ndash;&gt;-->
<!--&lt;!&ndash;    <igx-column field="evolvesFrom" header="Evolui de" dataType="string"></igx-column>&ndash;&gt;-->
<!--&lt;!&ndash;  </igx-grid>&ndash;&gt;-->

<!--  &lt;!&ndash;  <igx-paginator&ndash;&gt;-->
<!--  &lt;!&ndash;    [totalRecords]="totalCount"&ndash;&gt;-->
<!--  &lt;!&ndash;    [perPage]="pageSize"&ndash;&gt;-->
<!--  &lt;!&ndash;    [(page)]="currentPage"&ndash;&gt;-->
<!--  &lt;!&ndash;    (pageChange)="onPageChange($event)"&ndash;&gt;-->
<!--  &lt;!&ndash;  ></igx-paginator>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
