//@use "igniteui-angular/theming" as *;
@import 'igniteui-angular/lib/core/styles/themes/index';

@include core();
@include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
@include theme($default-palette);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ig-font-family: "Press Start 2P", cursive;
  --ig-subtitle-1-font-size: 8px;

  .igx-grid-thead__title,
  .igx-grid-th,
  .igx-paginator,
  .igx-input-group--border,
  .igx-input-group__bundle-main,
  .igx-chip__item {
    font-size: 8px;
  }

  .igx-grid__td {
    display: grid;
    font-size: 8px;
  }

  .igx-grid__td--active {
    //background-color: red;
    box-shadow: unset;
  }

  .igx-drop-down__item {
    font-size: 8px;
  }

  .igx-input-group__input {
    font-size: 8px;
    cursor: text;
  }

  .igx-toast {
    font-size: 10px;
    background-color: #333;

    span {
      font-size: 10px;
    }
  }

  .igx-button {
    text-transform: none;
    font-weight: 400;
    font-size: 10px;
    border-radius: unset;
  }

  .igx-drop-down__group label {
    color: #2E6DB5;
  }

  .igx-dialog__window-title {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    color: #2E6DB5;
  }

  .igx-dialog__window-message {
    font-size: 12px;
    text-transform: none;
    font-weight: 400;
    color: #333333;
  }

  @media (max-width: 640px) {
    .igx-dialog__window {
      max-width: 55% !important;
      margin: 5% auto !important;
    }
  }

  .toast-warning {
    background-color: #FFCB05;
    color: #333333;
  }

  .toast-error {
    background-color: #CC0D2A;
    color: #FFFFFF;
  }

  .toast-success {
    background-color: #2E6DB5;
    color: #FFFFFF;
  }
}

button {
  font-size: 10px;
}

.nav-border {
  border-right: 3px solid #2E6DB5;
}

.title {
  color: #2E6DB5;
  margin-top: 2.25rem;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 16px;
}

label {
  font-size: 12px;
  color: #333333;
}

.small-label-neutral {
  font-size: 8px;
  color: #333333;
}

.small-label-positive {
  font-size: 8px;
  color: #2E6DB5;
}

.small-label-negative {
  font-size: 8px;
  color: #CC0D2A;
}
