<div class="flex justify-between items-center">
  <div class="title">
    <span>Meus Baralhos</span>
  </div>

  <button class="bg-blue-800 hover:bg-blue-900 text-white py-2 px-4 mt-9 mr-5 mb-5" (click)="navigateToCreate()">
    Criar Baralho
  </button>
</div>

<div class="p-4">
  <igx-grid [data]="deckData" height="350px" [emptyGridMessage]="'No momento, você não possui baralhos!'">
    <igx-column field="deckName" header="Nome"></igx-column>
    <igx-column field="deckCards" header="Carta (HP - Set)">
      <ng-template igxCell let-cell="cell">
        <div [innerHTML]="cell.value"></div>
      </ng-template>
    </igx-column>
    <igx-column field="actions" header="Ações">
      <ng-template igxCell let-cell="cell">
        <div style="display: flex; justify-content: center;">
          <button style="margin-right: 8px;" class="bg-yellow-500 hover:bg-yellow-600 text-white py-1 px-1" (click)="showDetails(cell.row.data.deckKey)">
            <igx-icon class="icon">info</igx-icon>
          </button>
          <button style="margin-right: 8px;" class="bg-blue-800 hover:bg-blue-900 text-white py-1 px-1" (click)="editItem(cell.row.data.deckKey)">
            <igx-icon class="icon">edit</igx-icon>
          </button>
          <button class="bg-red-600 hover:bg-red-700 text-white py-1 px-1" (click)="openDeleteConfirmation(cell.row.data)">
            <igx-icon class="icon">delete</igx-icon>
          </button>
        </div>
      </ng-template>
    </igx-column>
  </igx-grid>
</div>

<igx-dialog #dialog title="Ei, treinador(a)!"
            leftButtonLabel="Não"
            (leftButtonSelect)="dialog.close()"
            rightButtonLabel="Sim"
            (rightButtonSelect)="deleteItem()"
            leftButtonBackgroundColor="#2E6DB5"
            leftButtonColor="#FFFFFF"
            [leftButtonRipple]="'white'"
            rightButtonBackgroundColor="#CC0D2A"
            rightButtonColor="#FFFFFF"
            [rightButtonRipple]="'white'"
            message="Tem certeza de que quer excluir o baralho {{itemToDelete?.deckName}}?">
</igx-dialog>

<igx-toast #toastSubmitSuccess class="toast-success">It's super effective!<br/>Baralho excluído com sucesso!</igx-toast>
